# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
BenchyFighters
test_input.json
out.txt
yojimbo/netcode/Makefile
yojimbo/reliable/Makefile
yojimbo/Makefile
yojimbo/sodium/Makefile
settings
