[submodule "gamenetworkingsockets"]
	path = gamenetworkingsockets
	url = https://github.com/ValveSoftware/GameNetworkingSockets
[submodule "yojimbo"]
	path = yojimbo
	url = https://github.com/mas-bandwidth/yojimbo
[submodule "RakNet"]
	path = RakNet
	url = https://github.com/miniclip/RakNet.git
